<script src="https://cdn.freecodecamp.org/testable-projects-fcc/v1/bundle.js"></script>
  <section id="welcome-section">
    <div id="welcome-section-container">
      <div class="welcome-section-img-container">
        <img src="https://t3.ftcdn.net/jpg/04/66/39/10/360_F_466391068_Gh3du960FKmzUemPEI9zPwKpNcc0fGRN.jpg" alt="black and white profile photo">
        
        <div>
            <h1><span>Hello,my name is </span><br>Arman Ansari <br></h1>
            <a href="../../../assets/file/cv.pdf" download target="_blank" class="btn btn-outline-light w-100 p-3 my-5">Download Resume</a>
        </div>
    </div>
      <div class="arrow-down-container">
        <a href="http://localhost:4200/dashboard/#about"><i class="arrow-down"></i></a>
      </div>
    </div>
  </section>
  <section id="about">
    <a class="anchor" id="about_section_anchor"></a>
    <h2>About Me</h2>
    <p>A dedicated and skilled front-end developer with a focus on creating visually compelling and functional web applications. Currently a 3rd-year BTech student, I specialize in UI/UX design, Angular, and front-end website development. With experience in WordPress, Bootstrap, PHP, and custom theme development, I bring a versatile set of skills to every project I work on.</p>
    <p>Have a look at my skills and feel free to contact me if you want me to join your project.</p>
    <div id="skill-list">
      <p>
        <span>HTML5</span>
        <span>CSS3</span>
        <span>Bootstrap</span>
        <span>JavaScript</span>
        <span>jQuery</span>
        <span>Responsive Design</span>
    </p>
    </div>
  </section>
  <section id="projects">
    <a class="anchor" id="project_section_anchor"></a>
    <div class="project-title-container">
      <h2>Projects</h2>
    <div>
    <div class="project-continer">
      <div class="project-tile">
        <a href="https://codepen.io/Igors_Palcevskis/full/KbVYwQ" target="_blank">
          <h3>Survey form</h3>
          <figure>
            <img src="https://res.cloudinary.com/db6e0gluw/image/upload/v1548944432/FCC/Front%20End%20Projects/Personal%20Portfolio%20v2/survey_form.jpg" alt="survey form project thumbnail">
            <figcaption>Survey form project for Free Code Camps responsive web design certification.</figcaption>
          </figure>
        </a>
      </div>
      <div class="project-tile">
        <a href="https://codepen.io/Igors_Palcevskis/full/Qzmegw" target="_blank">
          <h3>Product landing page</h3>
          <figure>
            <img src="https://res.cloudinary.com/db6e0gluw/image/upload/v1548944433/FCC/Front%20End%20Projects/Personal%20Portfolio%20v2/product_landing_page.jpg" alt="product landing page project thumbnail">
            <figcaption>Product landing page project for Free Code Camps responsive web design certification.</figcaption>
          </figure>
        </a>
      </div>
      <div class="project-tile">
        <a href="https://codepen.io/Igors_Palcevskis/full/QzwoRz" target="_blank">
          <h3>Tribute page</h3>
          <figure>
            <img src="https://res.cloudinary.com/db6e0gluw/image/upload/v1548944434/FCC/Front%20End%20Projects/Personal%20Portfolio%20v2/tribute_page.jpg" alt="tribute page project thumbnail">
            <figcaption>Tribute page project for Free Code Camps responsive web design certification.</figcaption>
          </figure>
        </a>
      </div>
    </div>
  <section id="contact">
    <h2>Contact Me</h2>
    <div class="social-contacts">
        <a href="https://www.linkedin.com/in/arman-ansari072/"><img src="../../../assets/file/linkedin.png" alt="" width="40"></a>
        <a href="https://github.com/techy-arman"><img src="../../../assets/file/github.png" alt="" width="40"></a>
        <a href="https://www.instagram.com/mr._arman_072/"><img src="../../../assets/file/instagram.png" alt="" width="40"></a>
    </div>
  </section>